/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
  margin: 0;
  overflow-x: hidden;
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 900px;
  padding: 20px;
  margin: 0 auto;
  margin-left: 10px;
}

/* homepage */
.home {
  display: block;
  gap: 0px;
}
.autocomplete-dropdown {
  position: relative;
  z-index: 999;
}

.autocomplete-suggestions {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 1px solid #ccc;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
}
/* Define a grid container for 1 item */
.product-container {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 1px; /* Adjust the gap between image and details */
}
.item-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.item-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.item-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.item-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.item-image {
  width: 320px;
  height: 210px; /* Stretch the image to the height of its container */
  object-fit: contain; /* Crop the image to fit the container, maintaining aspect ratio */
}
/* new item form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error)
}

/* homepage */
.home {
  width: 1000px; /* Set the maximum width of the container */
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search-container {
  display: flex;
  flex-direction: column;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  gap: 20px; /* Add some gap between items */
}

/* Dropdown List Styles */
.dropdown-list {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 200px; /* Set a max height for the dropdown list to enable scrolling if it exceeds this height */
  overflow-y: auto; /* Enable vertical scrolling if needed */
  width: 60%;
  z-index: 1000; /* Increase the z-index value to ensure it appears above other elements */
  top: 35%; /* Position the dropdown list below the search bar */
  left: 20px; /* Align the left edge of the dropdown list with the search bar */
}

.dropdown-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-list li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: "Poppins";
  font-size: smaller;
}

.dropdown-list li:hover {
  background-color: #f2f2f2;
}

/* Remove bullet points from the list */
.dropdown-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Rectangleish appearance */
.dropdown-list li {
  border-bottom: 1px solid #ccc;
}

/* Adjust spacing between items */
.dropdown-list li:last-child {
  border-bottom: none;
}

.show-more-button {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}